* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --creme: #FFFEF1;
    --dourado: #B39B6A;
}
.text-center {
    text-align: center;
}
body {
    background-color: var(--creme);
}
.text-gold {
    color: var(--dourado);
}
.logo {
    width: 226px;
    margin-top: 49px;
    margin-bottom: 33px;
}
.parfum {
    display: block;
    width: 192px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.atout {
    display: block;
    margin: 0 auto;
    width: 137px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.link-france {
    font-size: 20px;
    font-family: 'SimplonMono-Regular';
    font-weight: 400;
}
.graph {
    display: block;
    margin: 0 auto;
    width: 294px;
    margin-top: 29px;
}
.history-date {
    display: inline-flex;
    margin: 0 auto;
    width: 250px;
    height: 65px;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
    /*background-color: var(--dourado);*/
    /*color: var(--creme);*/
    color: var(--dourado);
    background-color: transparent;
    border: var(--dourado) 1px solid ;
    font-size: 18px;
    text-align: center;
    font-family: 'SimplonMono-Regular';
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-about {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 29px;
    font-family: 'SimplonMono-Regular';
}
.title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'ArgestaDisplay-Regular';
    
}
.subtitle{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'SimplonMono-Regular';
    
}
.grid-content {
    display: block;
    justify-content: center;
    align-items: center;
}

.hidden-sm {
    display: none;
}

@media (min-width: 760px) {
    .logo-lg {
        width: 669px;
        margin-top: 63px;
        margin-bottom: 23px;
    }
    .graph-lg {
        width: 332px;
        margin-top: 19px;
    }
    .title-lg {
        font-size: 65px;
    }
    .subtitle{
        font-size: 30px;
    }
    .text-left-lg {
        text-align: left;
    }
    .hidden-lg {
        display: none;
    }
    .hidden-sm {
        display: block;
    }
    .grid-content-lg {
        display: flex;
    }    
    .grid-history-lg-space {
        display: block;
        margin-bottom: 48px;
        margin-top: 40px;
    }
    .grid-history-lg-margin-left {
        margin-left: 80px;
    }
    .grid-history-lg {
        display: block;
        text-align: center;        
    }
    .gap-top-lg {
        position: relative;
        top: 13px;
    }

}